*{
    letter-spacing: 0.8px;
    line-height: height 1.6em;em
}

.p{
    color: #198754;
    font-size: 40px;
    text-align: left;
    text-indent: 2em;
    
}

p{
    background-color: pink;
}
    
*{
    font-family: "Noto Sans TC", serif;
    }

    h1,h2,h3,h4,h5,h6, .h1.h2.h3.h4.h5.h6{
        font-family: "Noto Sans TC", serif;
    }
    .bg-primary {
        
        background-color: black; !important;
        background-image: url(../assets/img/背景2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
 }
.expedu_icon {
    color: blueviolet
}    

.expedu_icon:hover{
    background-color: blueviolet;
    color: white;
}