*{
    letter-spacing: 0.8px;
    line-height:1.6em;
}

.p{
        color: blue;
        font-size: 40px;
        text-align: left;
        text-indent: 2em;        
}

.blueblue{
    color: blue;
    font-style: bold;
    font-weight: bolder;
}

.purplepurple{
    color: purple;
    font-style: bold;
    font-weight: bolder;
}
    
p{
    background-color: yellow;
}
    
    body {
        font-family: 'Noto Sans TC', sans-serif;
        }
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Noto Serif TC', sans-serif;
        }
    .bg-primary {
        
        background-color: black; !important;
        background-image: url(../assets/img/背景2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
 }
.expedu_icon {
    color: blueviolet
}    

.expedu_icon:hover{
    background-color: blueviolet;
    color: white;
}